$fontColor: #edf6f9;
$secondaryfontcolor: #e7f8fd;
$thricefontcolor:#e2ece5;
$primarycolor: #72b2ab;
$secondarycolor: #006d77;
$primaryfont: "Raleway", sans-serif;
$secondaryfont: "Crimson Text", serif;
$boxbrd: 10px;

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: $primaryfont;
  color: $fontColor;
}

.navbar_mobile{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #72b2abdc;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  transform: translateX(-100%);
  transition: .5s ease-in-out;
  

  .menuHero{
    display: flex;
    flex-direction: row;
    border-bottom: 1px white solid;
    width: 95%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: flex-end;
  }

  
}

.menuTab{
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1000;
  font-size: 36px;
  background-color: $secondarycolor;
  padding: 12px;
  border-radius: 50%;
}
.navHero_mobile {
  height: 80px;
  width: 80px;
}

.navLinks_container_mobile{
  height: 100vh;

  .navLinks_mobile{
    list-style: none;
    text-decoration: none;
    margin: 25px 15px;


    .navLink_mobile{
      margin: 10px;
      font-size: 28px;
      cursor: pointer;

      a{
        text-decoration: none;
      }
    }
  }
}


.navLink_mobile::before{
  position: absolute;
  content: '';
  width: 50%;
  border-bottom: 33px solid $secondarycolor;
  border-right: 45px solid transparent;
  z-index: -1;
}

.Show{
  transform: translateX(0%);
}

body{
  width: 100%;
  position: relative;
  background: url(/images/mountain.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 7vh;
    position: relative;
    padding: .5rem;

    h1 {
      font-size: 36px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    h3{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .cntImg {
    $borderimg: 1.5px solid $fontColor;
    height: 40vh;
    width: 100%;
    background-image: url(/images/signal-2021-03-11-160636.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 20%;
    transition: 300ms ease-in;
    filter: grayscale(80%);
    border-top: $borderimg;
    border-bottom: $borderimg;
  }

  .cntImg:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}

.abtCrd {
  max-width: 80%;
  min-height: 20vh;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(#5e5c5ca9, #9db6c580);
  backdrop-filter: blur(4px);

  .abtInfo{
    position: relative;
      margin: auto;
      max-width: 100%;
    p{
      font-size: 16px;
      letter-spacing: 1.2px;
    }
  }
}

.education{
  margin: 40px;

  .eduCard{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;

  }

  h2, ul{
    text-align: center;
  }

  ul{
    list-style: none;
  }

  .cardHero{
    width: 175px;
    height: 175px;
  }


}

.jbTitle {
  width: 85%;
  margin: auto;
  padding: 15px;
  font-size: 36px;
  text-align: center;
}

.timeline{
  margin: auto;
  max-width: 95%;
  padding-bottom: 5rem;

  .row{
    display: flex;
    justify-content: flex-end;
    section {
      background-color: $primarycolor;
      border-radius: 5px;
      width: calc(80% - 10px);
      padding: 10px;
      margin: 5px;
      position: relative;
      color: $secondarycolor;


      ::before {
        position: absolute;
        content: " ";
        height: 15px;
        width: 15px;
        background: $primarycolor;
        top: 25px;
        left: -7px;
        border-radius: 1px;
        transform: rotate(45deg);
      }


    } 

    .icon{
      position: absolute;
      height: 40px;
      width: 40px;
      background-color: $primarycolor;
      text-align: center;
      line-height: 40px;
      z-index: 9;
      border-radius: 50px;
      left: 2%;
      transform: translateY(35%);
    }

    .btmRow {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      color: $thricefontcolor;
    }


  }

  .centerLine {
    position: absolute;
    height: 40%;
    width: 4px;
    left: 6%;
    background: $primarycolor;
    transform: translate(50%, -5%);
    box-shadow: 0.2em .5em 1em .01em  $secondarycolor;
  }
}

#footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    ul{
      display: flex;

      li{
        list-style: none;
        text-decoration: none;
        margin: 15px;
        i{
          color: $fontColor;
          font-size: 28px;
          cursor: pointer;


        }

        :hover{
          color: $primarycolor;
          transform: scale(1.5);
        }
      }  
    }
}

@media only screen and (min-width:767px){

  .navbar{
    width: 80%;

    .dropbtn{
      font-size: 28px;
    }
  }

  .content{
    width: 85%;
    margin: auto;

    .cntImg{
      border:none
    }
  }

  .abtCrd{
    max-width: 60%;
  }

  .timeline{
    max-width: 1080px;

    .row{
      width: 85%;
      margin: auto;
      section{
      width: 40%;
      }
    }

    .row1 {
      justify-content: flex-start;
      color: $secondarycolor;
      section{

        ::before{
          display: none;
        }
        .details{
          width: 100%;

          ::after{
            position: absolute;
            content: " ";
            height: 15px;
            width: 15px;
            top: 25px;
            right: -7;
            z-index: 99;
            transform: rotate(45deg);
            background-color: $primarycolor;
          }

        }
      }

      .icon{
        left: 48%;
      }

      ::after{
        right: -7px;
      }
    } 

    .row2{
      justify-content: flex-end;

      .icon{
        left: 48%;
      }
    }

    .centerLine{
      left: 51%;
      height: 30%;
      transform: translate(5%, 0);
    }
  }
}

@media only screen and (min-width:767px){
  .abtCrd{
    width: 50%;
    h2{
      text-align: center;
    }
    .abtInfo p{
      font-size: 20px;
      width: 80%;
      margin: auto;
      padding: 20px 0;
    }
  }

  .eduCard_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h2{
      align-items: center;
    }
  }

  .timeline{
    .centerLine{
      left: 50%;
      height: 30%;
      transform: translate(2%, 0);
    }

    .row{
      .icon{
        left: 49%;
        transform: translateX(-1%);
      }
  }
}}